[Unit]
Description = nfs mount for photos

[Mount]
What=192.168.0.112:/mnt/pool0/photos
Where=/run/media/photos
Type=nfs
Options=defaults
TimeoutSec=5

[Install]
WantedBy=multi-user.target
