[Unit]
Description=Update IP database for use in Caddy
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/var/lib/docker/volumes/caddy_etc-caddy_ext/_data
ExecStart=/var/lib/docker/volumes/caddy_etc-caddy_ext/_data/update_geodb.sh

[Install]
WantedBy=default.target
