[Unit]
Description=Update IP database for use in Caddy
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/komodo/repos/infra/stacks/local/caddy/update-geodb.sh

[Install]
WantedBy=default.target
