print_n_copy() {
 "$@" | tee >(wl-copy)
}

arg_or_paste() {
  if [[ ! -z $@ ]]
  then
    echo -n "$@"
  else
    wl-paste
  fi
}

loremcopy() {
  print_n_copy lipsum-cli "$@"
}

alias uuid="print_n_copy uuidgen"
alias myip="print_n_copy dig +short myip.opendns.com @resolver1.opendns.com"

whois_more() {
 whois "$@" | more
}
alias whois=whois_more

rdap_more() {
 rdap "$@" | more
}
alias rdap=rdap_more

urlencode() {
 arg_or_paste "$@" | jq -s -R -r @uri | tee >(wl-copy)
}
urldecode() {
 arg_or_paste "$@" | gojq -s -R -r @urid | tee >(wl-copy)
}

alias formatjson='wl-paste | json_reformat | tee >(wl-copy)'

tomp4() {
 ffmpeg -fflags +genpts -i "$1" -r 24 -vf "pad=ceil(iw/2)*2:ceil(ih/2)*2" "$(basename "${1%.*}").mp4"
}

alias ngrok='docker run --net=host -it -e NGROK_AUTHTOKEN="$NGROK_AUTHTOKEN" ngrok/ngrok:latest'
ngrok_url() {
 curl -s http://127.0.0.1:4040/api/tunnels | jq -r '.tunnels[0].public_url' | tee >(wl-copy)
}

qrcode() {
 arg_or_paste "$@"| qrtool encode -t unicode
}

alias ngrokqr='qrcode $(ngrok_url)'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
